{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Change password{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form action="/auth/changepassword" method="post">
    <div class="mb-3">
        <input autofocus type="password" class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current password" type="text">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control mx-auto w-auto" id="password" name="password" placeholder="New password" type="text">
        <input type="password" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Repeat Password" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Change password</button>
  </form>
{% endblock %}
