{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Log In{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <label class="mx-auto w-auto" for="username">Username</label>
    <input class="form-control mx-auto w-auto" name="username" id="username" required>
    <label class="mx-auto w-auto" for="password">Password</label>
    <input class="form-control mx-auto w-auto" type="password" name="password" id="password" required>
    <input type="submit" class="btn btn-primary mx-auto w-auto" value="Log In">
  </form>
{% endblock %}
