{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
  <h1>{% block title %}rooms{% endblock %}</h1>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="room">
    <div>
    {% if g.user %}
    Click the button below to add a room:<br>
    <a href="{{ url_for('rooms.create') }}" class="btn btn-primary">Add</a>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for room in rooms %}
          <tr>
            <td>{{ room['name'] }}</td>
            <td>
              <div class="row">
                <div class="col-auto">
                  <form action="{{ url_for('rooms.update', id=room['id']) }}">
                    <input type="submit" class="btn btn-primary btn-sm" value="Edit">
                  </form>
                </div>
                <div class="col-auto">
                  <!-- Button trigger modal -->
                  <!-- Button is placed inside a form to place it aligned to the previous form -->
                  <form>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteEntryModal-{{ room['id'] }}">Delete</button>
                  </form>
                  <!-- Modal -->
                  <div class="modal fade" id="deleteEntryModal-{{ room['id'] }}" tabindex="-1" aria-labelledby="deleteEntryModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteEntryModalLabel">Are you sure you want to delete room "{{ room['name'] }}"?</h5>
                        </div>
                        <div class="modal-footer">
                          <form>
                            <input type="submit" class="btn btn-secondary me-1" value="No, cancel" data-bs-dismiss="modal">
                          </form>
                          <form action="{{ url_for('rooms.delete', id=room['id']) }}" method="post">
                            <input type="submit" class="btn btn-danger" value="Yes, delete">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      Please <a href="{{ url_for('auth.register') }}">register</a> or <a href="{{ url_for('auth.login') }}">log in</a> to use this tool to manage your personal belongings.
    {% endif %}
    </div>
  </article>
{% endblock %}
